<div class="row">
  <div class="col-xs-12">
    <h2>{{note.title}}</h2>
    <hr/>
    <p>
      {{note.body}}
    </p>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-default" href="/notes/edit/?id={{note.id}}">Edit</a>
    <a class="btn btn-danger" href="/notes/destroy/?id={{note.id}}">Delete</a>
  </div>
</div>
