.login-container {
  min-width: 280px;
  max-width: 450px;
  margin: 0 auto;
  padding-top: 1rem;
}

.login-form .has-error .login-field {
  border-color: #e74c3c;
}

.login-header {
  text-align: center;
}

.login-link {
  color: #95A5A6;
}

.login-header img {
  width: 150px;
}

.login-header h3 {
  text-align: center;
  font-weight: 900;
  font-size: 5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
}

@media (max-width: 768px) {
  .login-header img {
    width: 100px;
    margin-bottom: 4px;
  }
  .login-container {
    padding-top: 1rem;
  }
  .login-header h3 {
    font-size: 4rem!important;
  }
}

.login-header small {
  color: rgba(52, 73, 94, 0.5);
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0;
  padding-top: 5px;
}

.login-logo {
  font: 900 90px/100px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
  margin: 10px 0;
}

.login-header span {
  color: #fff;
}

.background-green {
  background-color: #1abc9c;
}

.background-belize {
  background-color: #3498db;
}

.user-image-small {
  max-width: 21px!important;
  border-radius: 500rem;
  vertical-align: -5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease-out 0.5s;
  -webkit-animation: fadeIn ease-out 0.5s;
  -moz-animation: fadeIn ease-out 0.5s;
  -o-animation: fadeIn ease-out 0.5s;
  -ms-animation: fadeIn ease-out 0.5s;
}

.radio-inline {
  vertical-align: -3px;
  margin-left: 0px;
  padding-right: 14px;
  padding-left: 25px;
}

.panel-footer-plain {
  background-color: #fff;
}

.panel-action {
  float: right;
}
