<div class="row">
  <div class="col-sm-12 col-lg-offset-1 col-lg-10 coll-lg-offset-1">
    <form method="POST" action="/notes/{{id}}/?_method=DELETE">
      <p>Are you sure you want to delete note <strong>{{note.title}}</strong>?</p>
      <hr />
      <button class="btn btn-danger" type="submit">DELETE</button>
      <a class="btn btn-default" href="/notes/{{id}}">Cancel</a>
    </form>
  </div>
</div>
