<div class="row">
  <div class="col-sm-12 col-lg-offset-1 col-lg-10 coll-lg-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        Your Notes {{#if notes.length }}({{notes.length}}){{/if}}
        <a href="/notes/create" class="panel-action">Add Note</a>
      </div>
      <div class="panel-body">
        This is a public notes list.
      </div>
      {{#if notes.length }}
      <ul class="list-group list-group-flush" id="notes-list">
        {{#each notes}}
        <li class="list-group-item"><a href="/notes/{{id}}">{{title}}</a></li>
        {{/each}}
      </ul>
      {{else}}
      <div class="panel-body">
        <p>List is currently empty.</p>
      </div>
      {{/if}}
    </div>
  </div>
</div>
