<div class="row">
  <div class="col-sm-12 col-lg-offset-1 col-lg-10 coll-lg-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Note - {{note.title}}</h4>
      </div>
      <div class="panel-body">
        <p>{{note.body}}</p>
      </div>

      <div class="panel-footer panel-footer-plain text-right">
        <a class="btn btn-primary" href="/notes/{{note.id}}/edit">Edit</a>
        <a class="btn btn-danger" href="/notes/{{note.id}}/confirm-destroy">Delete</a>
      </div>
    </div>
  </div>
</div>
